body {
    background-color: #CAADED;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 300px; /* dla popupu o określonej wysokości */
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
}

.icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    margin-bottom: 20px;
}

input,
button {
    width: 250px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ccc;
    margin: 10px 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    background-color: #B5CA8D;
}
